*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #070606;
    margin: 0;
    padding: 0;
    margin-top: 230px;
}

.slider-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #5022222d;
    text-align: center;
}

.review-text {
    font-size: 18px;
    margin-bottom: 15px;
}

.author {
    font-size: 14px;
    font-style: italic;
    color: #888;
}

.controls {
    margin-top: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#prev{
    margin-right: 150px;
    margin-bottom: 30px;
}